
header{
	background: white;
	padding: 10px;	
}

header h1{
	margin: 0;
}

body{
	background: gray;
	margin: 0;
}

div{
	/*-webkit-box-sizing: border-box;*/
	box-sizing: border-box; 
}

div.post{
	background:white;
	margin-top: 10px;
}

div.post img{
	width: 100%;	
}

div.post .post-header div:first-child{
	display: inline-block;
	width: 80%;
	/*background: green;*/
} 

div.post .post-header div:last-child{
	display: inline-block;
	width: 20%;
	padding: 10px;
	text-align: right;
	color: gray;
	/*background: yellow;*/
} 

div.post h2, div.post p{
	padding: 5px;
	margin: 0px;
} 

div.container{
	width: 600px;
	margin: auto;
}